<div>
<%= form_with model: meal do |f| %>
<%# title:sting, category:sting, area:sting, instructions:json image:binary, tags:json, ingredients:json, source:string%>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :category %>
    <%= f.text_field :category %>
    <br>
    <%# Incredients section is broken into two parts%>
    <%= f.label :ingredients %>
    <ul>
    <% if meal[:ingredients].nil?%>
        <li><%= f.text_field :ingredients %></li>
    <% else %>
        <% meal[:ingredients].each do |ingredient| %>
            <li><%= f.text_field ingredient %></li>
        <% end %>
    <% end %>
    </ul>

    <%= f.label :instructions %>
    <ol>
    <% if meal[:instructions].nil?%>
        <%= f.text_field :instructions %>
    <% else %>
        <% meal[:instructions].each do |instruction|%>
        <li> <%= f.text_area instruction %> </li>
        <% end %>
    <% end %>
    </ol>

    <br>
    <%= f.label :tags %>
    <%= f.text_field :tags %>
    <br>
    
    <br>

    <%= f.label :source %>
    <%= f.text_field :source %>
    <br>
    <%= f.submit %>

<% end %>
</div>